
<div class="container-fluid bg-transparent position-relative text-center d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="bg-light position-absolute rounded p-3 shadow border" style="width: fit-content; top: 30%; left: 50%; transform: translate(-50%, 0);">
        <h1 class="text-danger" style="font-size: 5rem; font-weight: 300;">{{error}}</h1>
        <h4 class="h5 m-md-4 m-0">{{message}}</h4>
        <a href="/" class="nav-link">Back to home</a>
    </div>
</div>